<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Word Counter</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body class="container">

  <h1>WELCOME TO MY SUPER COOL WORD COUNTER MACHINE</h1>
  <h2>Throw a word and a sentence in together, it'll like blow your mind, hehehe.</h2>

  <h3><a href='/entries'>Click here to find out the amazing feat you can accomplish with this never before seen machine.</a></h3>



  <img src='~/img/beavisbutthead.gif'/>

</body>
</html>
