<h1>WELCOME TO MY SUPER COOL WORD NUMBER MACHINE!</h1>
<h2>It'll blow your mind</h2>

<h3><a href='/entries'>Click here to find out the amazing feat you can accomplish with this never before seen machine.</a></h3>


///////////////
//<img src='~/img/photo1.jpg'/>
