//this page should display the results//
<h1>Check it out!</h1>

<p>Your word, @Model.UserKeyWord<br>
appears in your sentence, @Model.OriginalSentence<br>
@Model.Count times!</p>


<p><a href='/new'>Add a New Word and Sentence</a></p>
