<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Entries</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body class="container">
@using WordCountMachine.Models

<h1>Check it out!</h1>

<p>Your word, @Model.UserKeyWord<br>
appears in your sentence, @Model.OriginalSentence<br>
@Model.Count times!</p>


<p><a href='/entries/new'>Add a New Word and Sentence</a></p>

</body>
</html>
