//this page will give a brief description and then give link to form//

<h1>Word Counter</h1>

<p>You can enter any word and sentence you want and this super cool machine will tell you how many times that word appears in your sentence. It gives whole matches only, no partial matches like if a word is inside another word.<br>
Click the link below to be amazed!</p>
<h3><a href='/entries/new'>Enter a new Word and Sentence.</a></h3>
