//this page will be the form to create new Entries//
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Entries</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
<h1>Time to enter your new word and sentence to see the magic happen</h1>
<p>Enter a word and a sentence below:</p>

<form action="/entries" method="post">

  <label for="userKeyWord">Your Word</label>
  <input id="userKeyWord" name="userKeyWord" type="text">

  <label for="userSentence">Your Sentence</label>
  <input id="userSentence" name="userSentence" type="text">

  <button type="submit">Send your entries into the Machine!</button>
</form>

<p><a href='/'>Return to Main Page</a></p>

</body>
</html>
