//this page should display the results//
<h1>Check it out!</h1>

<p>Your word, @Model.GetUserKeyWord()<br>
appears in your sentence, @Model.GetUserSentence()<br>
@Model.WordCountTotal()!</p>


<p><a href='/new'>Add a New Word and Sentence</a></p>
